<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>newMember</display-name>
    <servlet-name>newMember</servlet-name>
    <servlet-class>librarySystem.newMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newMember</servlet-name>
    <url-pattern>/newMember</url-pattern>
  </servlet-mapping>
  <display-name>Library Web Application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addBook</display-name>
    <servlet-name>addBook</servlet-name>
    <servlet-class>librarySystem.addBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBook</servlet-name>
    <url-pattern>/addBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>requestBook</display-name>
    <servlet-name>requestBook</servlet-name>
    <servlet-class>librarySystem.requestBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requestBook</servlet-name>
    <url-pattern>/requestBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showBookList</display-name>
    <servlet-name>showBookList</servlet-name>
    <servlet-class>librarySystem.showBookList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showBookList</servlet-name>
    <url-pattern>/showBookList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showMemberList</display-name>
    <servlet-name>showMemberList</servlet-name>
    <servlet-class>librarySystem.showMemberList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showMemberList</servlet-name>
    <url-pattern>/showMemberList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addBookServlet</display-name>
    <servlet-name>addBookServlet</servlet-name>
    <servlet-class>librarySystem.addBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBookServlet</servlet-name>
    <url-pattern>/addBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editBookServlet</display-name>
    <servlet-name>editBookServlet</servlet-name>
    <servlet-class>librarySystem.editBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editBookServlet</servlet-name>
    <url-pattern>/editBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editBookServlet2</display-name>
    <servlet-name>editBookServlet2</servlet-name>
    <servlet-class>librarySystem.editBookServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editBookServlet2</servlet-name>
    <url-pattern>/editBookServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteBookServlet</display-name>
    <servlet-name>deleteBookServlet</servlet-name>
    <servlet-class>librarySystem.deleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBookServlet</servlet-name>
    <url-pattern>/deleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewBookServlet</display-name>
    <servlet-name>viewBookServlet</servlet-name>
    <servlet-class>librarySystem.viewBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewBookServlet</servlet-name>
    <url-pattern>/viewBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addMemberServlet</display-name>
    <servlet-name>addMemberServlet</servlet-name>
    <servlet-class>librarySystem.addMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMemberServlet</servlet-name>
    <url-pattern>/addMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editMemberServlet</display-name>
    <servlet-name>editMemberServlet</servlet-name>
    <servlet-class>librarySystem.editMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editMemberServlet</servlet-name>
    <url-pattern>/editMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editMemberServlet2</display-name>
    <servlet-name>editMemberServlet2</servlet-name>
    <servlet-class>librarySystem.editMemberServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editMemberServlet2</servlet-name>
    <url-pattern>/editMemberServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewMemberServlet</display-name>
    <servlet-name>viewMemberServlet</servlet-name>
    <servlet-class>librarySystem.viewMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewMemberServlet</servlet-name>
    <url-pattern>/viewMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteMemberServlet</display-name>
    <servlet-name>deleteMemberServlet</servlet-name>
    <servlet-class>librarySystem.deleteMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteMemberServlet</servlet-name>
    <url-pattern>/deleteMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addRequestServlet</display-name>
    <servlet-name>addRequestServlet</servlet-name>
    <servlet-class>librarySystem.addRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addRequestServlet</servlet-name>
    <url-pattern>/addRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editRequestServlet</display-name>
    <servlet-name>editRequestServlet</servlet-name>
    <servlet-class>librarySystem.editRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editRequestServlet</servlet-name>
    <url-pattern>/editRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editRequestServlet2</display-name>
    <servlet-name>editRequestServlet2</servlet-name>
    <servlet-class>librarySystem.editRequestServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editRequestServlet2</servlet-name>
    <url-pattern>/editRequestServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteRequestServlet</display-name>
    <servlet-name>deleteRequestServlet</servlet-name>
    <servlet-class>librarySystem.deleteRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteRequestServlet</servlet-name>
    <url-pattern>/deleteRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewRequestServlet</display-name>
    <servlet-name>viewRequestServlet</servlet-name>
    <servlet-class>librarySystem.viewRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewRequestServlet</servlet-name>
    <url-pattern>/viewRequestServlet</url-pattern>
  </servlet-mapping>
</web-app>